# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.ai
.agents
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
skills-lock.json
# Local env files
.env
.env.*
!.env.example
./AGENTS.md
